:root {
  --bg: #073b6e;
  --col: white;
  --bg1: #b2bec3;
}
.Weatherbg {
  background: url("../public/Background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 65vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 800;
}
.Heading {
  color: var(--bg);
}
.weatherResultBox {
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 500px;
  height: 450px;
  background: #74b9ff;
}
.weathericon {
  margin-top: 2rem;
  width: 100px;
  height: 100px;
  border-radius: 10px;
}
.weathercity {
  font-size: 35px;
}
.weathertemp {
  font-size: 55px;
  font-weight: 700;
}
#Button {
  font-size: 15px;
  font-weight: 600;
}
/* Error */
.error {
  color: var(--bg);
}

/* Background */
.carousel-inner {
  background: var(--bg1);
}
/* Result Box */
h3 {
  font-weight: bold;
}
h5 {
  font-weight: bold;
}
.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  padding: 20px;
}
/* Navbar */
.Nav {
  background: var(--bg1);
  color: var(--bg);
  font-size: 17px;
  font-weight: 400;
}
/* About Page */
.starter-template {
  padding: 1.5rem 1rem;
  text-align: center;
}
.starter-image {
  background: url("../public/Background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: 800;
}
.lead {
  font-size: 25px;
  font-weight: 700;
  word-spacing: 2px;
}
.starter-desc {
  margin-left: 40px;
  margin-right: 40px;
  display: block;
  justify-content: start;
  align-items: start;
  font-size: 15px;
  font-weight: 400;
  word-spacing: 2px;
}
h5 {
  display: flex;
  justify-content: center;
  align-self: center;
}

/* Footer */
.footer {
  background: var(--bg1);
}
